<ion-header>
  <ion-toolbar>
    <ion-button size="large" color="medium" routerLink = "/ingredients"></ion-button>
    <ion-button size="large" color="medium" routerLink = "/helpbutton"></ion-button>
    <ion-title>Steps</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://prods3.imgix.net/images/articles/2017_07/nonfeatured-stove-knobs.jpg?auto=format%2Ccompress&dpr=2&ixjsv=2.2.3&q=50&w=750"/>
    <ion-card-header>
    <ion-card-title>Step 1</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Turn on stove</li>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://media.gettyimages.com/photos/the-start-of-something-delicious-picture-id887636042?s=2048x2048"/>
    <ion-card-header>
    <ion-card-title>Step 2</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Turn on stove</li>

    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="https://prods3.imgix.net/images/articles/2017_07/nonfeatured-stove-knobs.jpg?auto=format%2Ccompress&dpr=2&ixjsv=2.2.3&q=50&w=750"/>
    <ion-card-header>
    <ion-card-title>Step 3</ion-card-title>
    </ion-card-header>
    <ion-card-content>
    <li>Turn on stove</li>

    </ion-card-content>
  </ion-card>

</ion-content>

