<ion-header>
  <ion-toolbar>
    <ion-title>Recipes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  

    <ion-card *ngFor="let recipe of recipes" routerLink = "/ingredients">
      <img src={{recipe.img}} /> 
      <ion-card-header>
       
        <ion-card-title>{{recipe.name}}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        Difficutly Level
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star"></ion-icon>
        <ion-icon name="star-outline"></ion-icon>
        <p>With only six simple ingredients, you can serve up ten delicious tacos in just half an hour. If you’ve ever wondered how to make tacos that are as good as the ones you enjoy at your local taqueria, this easy beef taco recipe is your answer</p>
      </ion-card-content>

    </ion-card>
    

</ion-content>

